html {
  font-size: 62.5%; // 1rem = 10px, 3.5rem = 35px;
}

body {
  font-family: $font-body;
  font-size: 1.6rem;
  color: $black;
}

h1,h2,h3,h4,h5 {
  font-weight: 700;
}

h1 {
  font-family: $font-heading, serif;
  font-size: 1.7rem;
}
