/* Colors
  ========================================================================== */
$accent: lightcoral;
$black: #000000;
$white: #ffffff;

$rem-base: 16px !default;

/* Typography
  ========================================================================== */

$font-body: Helvetica, Arial, sans-serif;
$font-heading: Helvetica, Arial, sans-serif;
